IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;
IO_LOC "LED[0]" 10;
IO_LOC "LED[1]" 11;
IO_LOC "LED[2]" 13;
IO_LOC "LED[3]" 14;
IO_LOC "LED[4]" 15;
IO_LOC "LED[5]" 16;
IO_LOC "RST_N" 3;

IO_LOC "tx" 17;
IO_PORT "tx" IO_TYPE=LVCMOS33;
IO_LOC "rx" 18;
IO_PORT "rx" IO_TYPE=LVCMOS33;

